<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.fradeet.alfred-folo</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>070E56CC-0C4E-4D52-B656-07B557B92AE3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F4A0C17-ACBF-486D-898E-74451610FE41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0A1506F8-7EB3-4938-90AE-509944E38B25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BB50A60F-23F2-4624-AE32-5036F1DBEC59</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open entry</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>0F4A0C17-ACBF-486D-898E-74451610FE41</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A1506F8-7EB3-4938-90AE-509944E38B25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>318AF45B-B2CB-4A05-B082-F4C436780C09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F4A0C17-ACBF-486D-898E-74451610FE41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BB50A60F-23F2-4624-AE32-5036F1DBEC59</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open original URL</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>8EB5D4EF-BC4F-46B0-93F4-9045C8885F8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open the browser and sign in</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B72F889-5649-44DB-94CF-E43F9D265191</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FDC8CEA-5A87-48E8-A387-A13959C1D713</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0F4A0C17-ACBF-486D-898E-74451610FE41</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BB50A60F-23F2-4624-AE32-5036F1DBEC59</key>
		<array/>
		<key>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E2EF96-CB1A-4E6C-8062-D487A9BDDB9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Show login result</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9FDC8CEA-5A87-48E8-A387-A13959C1D713</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fradeet</string>
	<key>description</key>
	<string>Browse your Folo timeline and subscriptions from Alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Folo</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flogin</string>
				<key>subtext</key>
				<string>Open the browser and authenticate with Folo</string>
				<key>text</key>
				<string>Folo Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-login</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EB5D4EF-BC4F-46B0-93F4-9045C8885F8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Folo</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63E2EF96-CB1A-4E6C-8062-D487A9BDDB9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>dist/login.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>102</integer>
				<key>keyword</key>
				<string>{var:FOLO_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Folo timeline…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/timeline.sh</string>
				<key>subtext</key>
				<string>Search recent entries</string>
				<key>title</key>
				<string>Folo Timeline</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A1506F8-7EB3-4938-90AE-509944E38B25</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsfiles</key>
				<false/>
				<key>acceptsmulti</key>
				<integer>0</integer>
				<key>acceptstext</key>
				<false/>
				<key>acceptsurls</key>
				<true/>
				<key>name</key>
				<string>Browse related timeline</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.universalaction</string>
			<key>uid</key>
			<string>070E56CC-0C4E-4D52-B656-07B557B92AE3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>FOLO_FILTER</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-timeline</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>0F4A0C17-ACBF-486D-898E-74451610FE41</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>folo-subscribed-lists</string>
				<key>triggername</key>
				<string>Sub List</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>318AF45B-B2CB-4A05-B082-F4C436780C09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>BB50A60F-23F2-4624-AE32-5036F1DBEC59</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:FOLO_LISTS_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Folo subscriptions…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dist/subscriptions.js</string>
				<key>subtext</key>
				<string>Search all your subscriptions</string>
				<key>title</key>
				<string>Folo Subscriptions</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-subscribed-lists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>funread</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dist/unread.js</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Folo unread</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-subscribed-unread-lists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>folo-subscribed-unread-lists</string>
				<key>triggername</key>
				<string>Unread Sub</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>9B72F889-5649-44DB-94CF-E43F9D265191</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string>{query}</string>
				<key>passthroughargument</key>
				<true/>
				<key>variables</key>
				<dict>
					<key>FOLO_IS_UNREAD</key>
					<string>1</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>9FDC8CEA-5A87-48E8-A387-A13959C1D713</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use `flogin` to authenticate, `folo` to browse your timeline, and `flists` to browse all subscriptions.</string>
	<key>uidata</key>
	<dict>
		<key>070E56CC-0C4E-4D52-B656-07B557B92AE3</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>0A1506F8-7EB3-4938-90AE-509944E38B25</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>0F4A0C17-ACBF-486D-898E-74451610FE41</key>
		<dict>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>215</real>
		</dict>
		<key>318AF45B-B2CB-4A05-B082-F4C436780C09</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>63E2EF96-CB1A-4E6C-8062-D487A9BDDB9A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>8EB5D4EF-BC4F-46B0-93F4-9045C8885F8C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>9B72F889-5649-44DB-94CF-E43F9D265191</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
		<key>9FDC8CEA-5A87-48E8-A387-A13959C1D713</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>510</real>
			<key>ypos</key>
			<real>515</real>
		</dict>
		<key>BB50A60F-23F2-4624-AE32-5036F1DBEC59</key>
		<dict>
			<key>xpos</key>
			<real>905</real>
			<key>ypos</key>
			<real>330</real>
		</dict>
		<key>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>485</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Zexf......</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Use 'flogin' to login to Folo, or manually input the user token.</string>
			<key>label</key>
			<string>Folo Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>folo</string>
				<key>placeholder</key>
				<string>folo</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Timeline keyword</string>
			<key>label</key>
			<string>Timeline Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>flists</string>
				<key>placeholder</key>
				<string>flists</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Subscription list keyword</string>
			<key>label</key>
			<string>Subscriptions Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_LISTS_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>30</string>
				<key>placeholder</key>
				<string>30</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of entries fetched</string>
			<key>label</key>
			<string>Timeline Limit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_LIMIT</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.3.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
