<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>top.fradeet.alfred-folo</string>
	<key>category</key>
	<string>Internet</string>
	<key>connections</key>
	<dict>
		<key>0A1506F8-7EB3-4938-90AE-509944E38B25</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E28080B-9C52-443E-AE10-5A8AEF99BC57</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>9FCCC6CA-5715-44A6-88E7-113666703284</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>318AF45B-B2CB-4A05-B082-F4C436780C09</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E28080B-9C52-443E-AE10-5A8AEF99BC57</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>047B6A17-139C-42B0-9653-D90335C28209</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E28080B-9C52-443E-AE10-5A8AEF99BC57</string>
				<key>modifiers</key>
				<integer>524288</integer>
				<key>modifiersubtext</key>
				<string>Open Website</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>0A1506F8-7EB3-4938-90AE-509944E38B25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>8EB5D4EF-BC4F-46B0-93F4-9045C8885F8C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Open the browser and sign in</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9B72F889-5649-44DB-94CF-E43F9D265191</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>9FCCC6CA-5715-44A6-88E7-113666703284</key>
		<array/>
		<key>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>F2D25FAA-6A4D-4ACB-96F5-AEA036D44D38</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string>Show login result</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0A1506F8-7EB3-4938-90AE-509944E38B25</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
		<key>F2D25FAA-6A4D-4ACB-96F5-AEA036D44D38</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>63E2EF96-CB1A-4E6C-8062-D487A9BDDB9A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>fradeet</string>
	<key>description</key>
	<string>Browse your Folo timeline and subscriptions.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Folo RSS Reader</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>Welcome, {query}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>63E2EF96-CB1A-4E6C-8062-D487A9BDDB9A</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string>dist/app/login.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>tasksettings</key>
				<dict>
					<key>key_path</key>
					<string>name</string>
				</dict>
				<key>taskuid</key>
				<string>com.alfredapp.automation.core/json-processing/json.key-value</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.automation.task</string>
			<key>uid</key>
			<string>F2D25FAA-6A4D-4ACB-96F5-AEA036D44D38</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>flogin</string>
				<key>subtext</key>
				<string>Open the browser and authenticate with Folo</string>
				<key>text</key>
				<string>Folo Login</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-login</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>8EB5D4EF-BC4F-46B0-93F4-9045C8885F8C</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>skipqueryencode</key>
				<false/>
				<key>skipvarencode</key>
				<false/>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string></string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>047B6A17-139C-42B0-9653-D90335C28209</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:FOLO_LISTS_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Folo subscriptions…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dist/app/subscriptions.js</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search all your subscriptions</string>
				<key>title</key>
				<string>Folo Subscriptions</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-subscribed-lists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dist/app/resource-url.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E28080B-9C52-443E-AE10-5A8AEF99BC57</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>folo-subscribed-lists</string>
				<key>triggername</key>
				<string>Sub List</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>318AF45B-B2CB-4A05-B082-F4C436780C09</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:FOLO_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>1</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Folo timeline…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>script/timeline-filter.sh</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Search recent entries</string>
				<key>title</key>
				<string>Folo Timeline</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-timeline</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>0A1506F8-7EB3-4938-90AE-509944E38B25</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>triggerid</key>
				<string>folo-subscribed-unread-lists</string>
				<key>triggername</key>
				<string>Unread Sub</string>
				<key>workflowonly</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.remote</string>
			<key>uid</key>
			<string>9B72F889-5649-44DB-94CF-E43F9D265191</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>2</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:FOLO_UNREAD_KEYWORD}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Loading Unread......</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dist/app/unread.js</string>
				<key>skipuniversalaction</key>
				<true/>
				<key>subtext</key>
				<string>Retrieve unread feed</string>
				<key>title</key>
				<string>Folo unread</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>inboundconfig</key>
			<dict>
				<key>externalid</key>
				<string>folo-subscribed-unread-lists</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>dist/app/mark-read.js</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>9FCCC6CA-5715-44A6-88E7-113666703284</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Use `flogin` to authenticate, `folo` to browse your timeline, and `flists` to browse all subscriptions.</string>
	<key>uidata</key>
	<dict>
		<key>047B6A17-139C-42B0-9653-D90335C28209</key>
		<dict>
			<key>xpos</key>
			<real>930</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>0A1506F8-7EB3-4938-90AE-509944E38B25</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>318AF45B-B2CB-4A05-B082-F4C436780C09</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>3E28080B-9C52-443E-AE10-5A8AEF99BC57</key>
		<dict>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>528EBBE4-AC53-41B4-BE91-D87A4C9BFB74</key>
		<dict>
			<key>colorindex</key>
			<integer>4</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>190</real>
		</dict>
		<key>63E2EF96-CB1A-4E6C-8062-D487A9BDDB9A</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>note</key>
			<string>Login Success.</string>
			<key>xpos</key>
			<real>690</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>8EB5D4EF-BC4F-46B0-93F4-9045C8885F8C</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>9B72F889-5649-44DB-94CF-E43F9D265191</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>9FCCC6CA-5715-44A6-88E7-113666703284</key>
		<dict>
			<key>note</key>
			<string>Mark Read</string>
			<key>xpos</key>
			<real>925</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>C1A3E00B-AB1B-40D0-A288-30D4B9443D65</key>
		<dict>
			<key>colorindex</key>
			<integer>3</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
		<key>D59678E1-D29B-4725-B5E3-1E2EEDC90E47</key>
		<dict>
			<key>colorindex</key>
			<integer>6</integer>
			<key>xpos</key>
			<real>255</real>
			<key>ypos</key>
			<real>345</real>
		</dict>
		<key>F2D25FAA-6A4D-4ACB-96F5-AEA036D44D38</key>
		<dict>
			<key>xpos</key>
			<real>475</real>
			<key>ypos</key>
			<real>25</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string>Zexf......</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Use 'flogin' to login to Folo, or manually input the user token.</string>
			<key>label</key>
			<string>Folo Token</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_TOKEN</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>funread</string>
				<key>placeholder</key>
				<string>funread</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Unread Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_UNREAD_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>flists</string>
				<key>placeholder</key>
				<string>flists</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Subscription list keyword</string>
			<key>label</key>
			<string>Subscriptions Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_LISTS_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>folo</string>
				<key>placeholder</key>
				<string>folo</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Timeline keyword</string>
			<key>label</key>
			<string>Timeline Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_KEYWORD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>50</string>
				<key>placeholder</key>
				<string>50</string>
				<key>required</key>
				<true/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Number of entries fetched</string>
			<key>label</key>
			<string>Timeline Limit</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>FOLO_LIMIT</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<false/>
				<key>required</key>
				<false/>
				<key>text</key>
				<string>Use system proxy</string>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Proxy</string>
			<key>type</key>
			<string>checkbox</string>
			<key>variable</key>
			<string>NODE_USE_ENV_PROXY</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.3.12</string>
	<key>webaddress</key>
	<string>https://github.com/fradeet/alfred-folo-workflow</string>
</dict>
</plist>
